<footer class="footer">
  <small>
    <a href="https://www.railstutorial.org/">Quarter Quell</a>
    by <a href="https://bitbucket.org/%7Bb071e81b-b50c-4c47-b159-ed9d6e7d0036%7D/">D Bau</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
